<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".body1" %>
  <%= link_to t(".title_help"), t(".url_help") %>.
  <%= t ".body2" %>
  <%= link_to t(".title_tut"), t(".url_tut") %>.
</p>
