<footer class="footer">
  <small>
    <%= t ".f_the" %><%= link_to t(".title_tut"), t(".url_tut") %>
    <%= t ".f_by" %><%= link_to t(".name_author"), t(".url_author") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".title_about"), about_path %></li>
      <li><%= link_to t(".title_contact"), contact_path %></li>
      <li><%= link_to t(".title_news"), t(".url_news") %></li>
    </ul>
  </nav>
</footer>
